
// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize:16 !default; // in pixels. 
$baseLineHeight:1.5 !default; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem !default;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.15 !default;


$primary-col:#bed5be;
$secondary-col: #669966;
$shadow-col: #2a652a;

$title-col: #3A7818;

$link-col: black;
$link-active-col: #3A7818;


$message-background: #478047;