// base
@import "./base/var";
@import "./base/base";
@import "./base/typography";

@import "./layouts/banner";
@import "./layouts/main";
@import "./layouts/footer";

@import "./module/message";
@import "./module/card";
@import "./module/page-header";
@import "./module/search-form";
@import "./module/search-results";

/* Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* add your IE10-IE11 css here */   
    #internet_explorer {
        display: block !important;
    }

    .message p {
        max-width: 30em;
    }

    .message {
        max-width: 30em;
    }
 }
 #internet_explorer {
     position: absolute;
     top: 0;
     color: #a70101;
     width: 100%;
 }

 #internet_explorer p {
     text-align: center;

 }