#btn-hamburger, #no-js-hamburger {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.hidden {
  display: none !important;
}

#no-js-hamburger {
  display: inline-block;
  font-size: 3rem;
}

#hamburger-menu-overlay {
  background-color: var(--overlay-color);
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  width: 100vw;
  transition: opacity var(--transition-speed) linear;
  opacity: 0;
  z-index: -1;
}

.hamburger-overlay-visible {
  opacity: 0.8 !important;
  z-index: 1 !important;
}

.prevent-scroll {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#site-navigation div ul {
  display: block;
  position: absolute;
  top: var(--header-height);
  left: calc(-1 * var(--menu-width));
  height: calc(100vh - var(--header-height));
  width: var(--menu-width);
  text-align: left;
  transition: left var(--transition-speed) linear;
  z-index: 2;
  list-style-type: none;
  background-color: var(--menu-bg-col);
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#site-navigation div ul li {
  padding: 1rem;
  border-bottom: solid var(--menu-item-border-col) 2px;
  font-size: 1.5rem;
}

#site-navigation div ul li a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

#site-navigation div ul li:hover {
  background-color: var(--menu-item-selected-col);
}

#site-navigation div li a::after {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background: transparent url('assets/img/chevron-right.svg') no-repeat;
  float: right;
  opacity: 0.5;
}

#hamburger-toggle:checked ~ div ul {
  left: 0;
  transition: left var(--transition-speed) linear;
}



/*! below adapted from https://github.com/jonsuh/hamburgers */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  /*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* end of code from https://github.com/jonsuh/hamburgers */

@media (min-width: 1200px) {
  #btn-hamburger, #no-js-hamburger {
    display: none;
  }

  #site-navigation div ul {
    position: static;
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
  }

  #site-navigation div ul li {
    border-bottom: none;
  }

  #site-navigation div li a::after {
    display: none;

  }



  .main-navigation {
          border-bottom: solid black 3px;
          width: 60%;
          margin: 1rem auto 0.1rem auto;
          padding: 0;
          grid-column-start: span 4;
  }

  .main-navigation ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
  }

  .main-navigation ul li {
          list-style-type: none;
          margin: 0.2rem 1rem;
          flex-grow: 1;
          text-align: center;
  }

  

}
