.message {
	padding: 1rem;
	margin: 1rem auto !important; // conflicts with form-upload.css #upload_form div TODO
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	color: $primary-col;
	text-shadow: 2px 1px $shadow-col;
	background-color: $message-background;
	border-radius: 0.4em;
	width: 40rem;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message p {
	margin: 0;
}

.info {
	margin: 5em auto 5em auto;
	max-width: 40em;
}

.accreditation {
	margin-top: -0.2em;
	color: #aaa;
	font-size: 0.6em;
}

.accreditation a {
	color: #aaa;
	text-decoration: underline;
}


.box-shadow {
	box-shadow: 10px 16px 15px 0px rgba(0, 0, 0, 0.38);
	line-height: 0 !important; // prevents wp figure creating unwanted white-space below images
}

.center-images {
	display: flex;
	align-items: center;
}

.useful-box {
	border-radius: 0.4em;
	border: solid 2px $secondary-col;
	background-color: white;
	max-width: 90%;
	width: 15rem;
	margin: auto;
	padding: 1rem;
}