.site-main > article > header {
	margin: -5.6rem 0 2rem 0;
	padding: 0;
}

.entry-title {
	margin: 0;
	padding: 0.65rem;
	color: white;
	display: inline-block;
	text-transform: uppercase;
	font-weight: normal;
}
