
.container {
    max-width: 50rem;
    margin: auto;
}

.search-results {

}
.search-results h1  {
    margin: -5rem auto 2rem auto;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.search-results .entry-summary {
    margin: -2rem 0 0 2rem;
    min-height: 2rem;
}