#masthead .message {
	width: 20rem;
}

.site-header {
	background-color: $secondary-col;
	padding: 4rem 0;
}

.site-branding {
	background-color: white;
	padding: 1.5rem 0;
}

.site-branding * {
	margin: 0;
	padding: 0;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo > * {
	margin: 0;
	padding: 0;
}

.logo img {
	max-width: 16rem;
}

.site-title a {
	text-decoration: none;
	color: $secondary-col;
	font-style: italic;
	font-weight: bold;
	font-size: 1.4rem;
	text-shadow: 2px 2px 2px $shadow-col;
}



.contact {
	grid-column-start: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $secondary-col;


}

@media (min-width: 1200px) {
	.site-branding {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}

	#masthead .message {
		width: 40rem !important;
	}
}


