html, body {
    min-height: 100vh !important;
}
body {
    margin-bottom: 0 !important;
    padding-bottom: 15rem !important;
}

.site-footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15em; /* height of footer -- equal to content padding-bottom */
    margin-bottom: -15rem;
    width: 100%;
    background-color: #478047;
    color: white;
    text-align: center;
}

.site-footer p {
    margin: 0;
    padding: 0;
}

.site-info > * {
    margin: 1rem;
}

.menu-footer-container ul {
    list-style-type: none;
}